@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/Portal/**/*';
@source '../../../../resources/views/filament/portal/**/*';
@source '../../../../vendor/awcodes/light-switch/resources/**/*.blade.php';

/* hide scrollbar */
.fi-sidebar-nav {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.fi-sidebar-nav::-webkit-scrollbar {
    display: none;
}

@theme {
    --color-main-primary: rgb(1, 50, 103);
    --color-main-secondary: rgb(254, 128, 13);
    --color-main-dark: rgb(40, 43, 47);
    --color-main-white: rgb(255, 255, 255);
    --color-main-accent: rgb(1, 50, 103);
    --color-main-light: rgb(248, 250, 252);
}